image: Visual Studio 2017
clone_folder: c:\projects\cuda_ci_tests

environment:
    WORKSPACE: C:\projects
    matrix:
    - platform: Win64
      COMPILER: vs
      VCPKG_ROOT: C:\projects\vcpkg
      VCPKG_DEFAULT_TRIPLET: x64-windows
      USE_CUDA: yes
      CUDACXX: C:\CUDA\bin\nvcc.exe
      CUDA_PATH: C:\CUDA\
      CUDA_PATH_V10_0: C:\CUDA\

init:
  - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

install:
  - cinst cmake ninja
  - SET "PATH=C:\Program Files\CMake\bin;%PATH%"
  - call "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvarsall.bat" x64
  - git submodule -q update --init --recursive
  - cd %WORKSPACE%\
  - curl -L https://developer.nvidia.com/compute/cuda/10.1/Prod/local_installers/cuda_10.1.105_418.96_win10.exe -o setup.exe
  - .\setup.exe -s nvcc_10.1 cuobjdump_10.1 nvprune_10.1 cupti_10.1 gpu_library_advisor_10.1 memcheck_10.1 nvdisasm_10.1 nvprof_10.1 visual_profiler_10.1 visual_studio_integration_10.1 cublas_10.1 cublas_dev_10.1 cudart_10.1 cufft_10.1 cufft_dev_10.1 curand_10.1 curand_dev_10.1 cusolver_10.1 cusolver_dev_10.1 cusparse_10.1 cusparse_dev_10.1 nvgraph_10.1 nvgraph_dev_10.1 npp_10.1 npp_dev_10.1 nvrtc_10.1 nvrtc_dev_10.1 nvml_dev_10.1 occupancy_calculator_10.1 fortran_examples_10.1
  - set CUDACXX=%ProgramFiles%\NVIDIA GPU Computing Toolkit\CUDA\v10.1\bin
  - set CMAKE_CUDA_COMPILER=%ProgramFiles%\NVIDIA GPU Computing Toolkit\CUDA\v10.1\bin
  - set CUDA_TOOLKIT_ROOT_DIR=%ProgramFiles%\NVIDIA GPU Computing Toolkit\CUDA\v10.1
  - set CUDA_PATH=%ProgramFiles%\NVIDIA GPU Computing Toolkit\CUDA\v10.1
  - set CUDA_PATH_V10_1=%ProgramFiles%\NVIDIA GPU Computing Toolkit\CUDA\v10.1
  - set PATH=%ProgramFiles%\NVIDIA GPU Computing Toolkit\CUDA\v10.1\nvvm\bin;%PATH%
  - set PATH=%ProgramFiles%\NVIDIA GPU Computing Toolkit\CUDA\v10.1\bin;%PATH%
  - nvcc -V
  - cd %WORKSPACE%\
  - git clone https://github.com/Microsoft/vcpkg
  - cd %VCPKG_ROOT%
  - bootstrap-vcpkg.bat
  - vcpkg integrate install
  - vcpkg install cuda
  - cd %WORKSPACE%\cuda_ci_tests\
  - mkdir build_debug && cd build_debug
  - cmake -G "Visual Studio 15 2017" -T "host=x64" -A "x64" "-DCMAKE_TOOLCHAIN_FILE=%VCPKG_ROOT%\scripts\buildsystems\vcpkg.cmake" "-DVCPKG_TARGET_TRIPLET=%VCPKG_DEFAULT_TRIPLET%" -DCMAKE_BUILD_TYPE="Debug" ..
  - cd ..
  - mkdir build_release && cd build_release
  - cmake -G "Visual Studio 15 2017" -T "host=x64" -A "x64" "-DCMAKE_TOOLCHAIN_FILE=%VCPKG_ROOT%\scripts\buildsystems\vcpkg.cmake" "-DVCPKG_TARGET_TRIPLET=%VCPKG_DEFAULT_TRIPLET%" -DCMAKE_BUILD_TYPE="Release" ..
  - cd ..

build_script:
  - cd build_debug   && cmake --build . --config Debug   && cd ..
  - cd build_release && cmake --build . --config Release && cd ..

on_finish:
  - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
